:root {
  --primary: rgb(60, 60, 60);
  --secondary: rgb(150, 150, 150);
  --bg: rgb(0, 0, 0);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: var(--bg);
  top: 0;
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  color: var(--primary);
}

.navbar .navbar-logo:hover {
  transition: 1.2s;
  /* transform-style: preserve-3d; */
  /* animation: invRotate 4s infinite linear; */
}

@keyframes invRotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.navbar .navbar-logo span {
  font-size: 1.2rem;
  color: white;
}

.navbar .navbar-nav .nav-item {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  padding: 8px;
  transition: 0.8s;
}

.navbar .navbar-nav .nav-item:hover {
  color: var(--secondary);
}

.navbar .navbar-nav .nav-item.active {
  animation: invRotate 2s infinite linear;
}

.navbar .navbar-extra a {
  color: white;
  font-size: 1.2rem;
  transition: 0.8s;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary);
}

#hamburger-menu {
  display: none;
}

/* Header */
#home {
  margin-top: 80px;
  height: 100vh;
}

/* Main */
#portfolio {
  height: 100vh;
}

/* Footer */
#contact {
  height: 100vh;
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
